* {
    scroll-padding-top: 130px;
}

body {
    background-color: #d9dcd6;
    margin: 0;
    color: #ffffff;
}

.header {
    position: fixed;
    padding: 20px auto;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
}

.header h1 {
    padding-left: 15px;
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
    list-style-type: none;
}

a {
    color:#ffffff;
    text-decoration: none;
}
p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 65%;
    display: inline-block;
    margin-left: 20px;
}

.container {
    margin:20px 20px 20px 75px;
    padding: 20px;
    height: fit-content;
    max-width: 80%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    display: inline-block;
}


.graphic img {
    max-height: 200px;
    padding: 20px;
}

.benefits {
    position: absolute;
    top: 830px;
    z-index: -1;
    margin: 15px 10px;
    padding: 10px;
    display: inline-block;
    width: 20%;
    height: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    text-align: center;
    color:#ffffff
}

.benefit-img {
    display: inline-block;
    max-width: 150px;
}

.container h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.footer {
    padding:100px 0;
    bottom: 0;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
